
/* banner section start */
.title_box {
    float: left;
    background-image: url(../images/background-img.jpg);
    background-size: 100%;
    padding-top: 2rem;    
}

h1 {
    margin: 10px;   
    color: antiquewhite;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 2rem;
}

p {
    margin: 20px;
    font-size: 30px;
    color: antiquewhite;
    float: left;
    padding-left: 1rem;
}

.row {
    display: flex;
    flex-wrap:wrap;
    
    padding-left: 4px;
    padding-top: 8px;
}
/* banner section end */

/* images section start */
#solar_img img {
    width: 20rem;
    height: 20rem;  
}

.images_box {
    padding-top: 2rem;
}

#solar_img {
    display: flex;
    flex: auto;
    height: max-content;
    flex-direction: column;   
}

#solar_img2 {
    display: flex;
    width: 22rem;
    height: 22rem;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 4px 4px 4px; 
    margin-left: 1rem;    
}

#solar_img2 img {
    width: 100%;
    height: 100%;  
}

.text1 {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #3b3b3b;
    text-align: justify;
    font-weight: bold;
    padding-top: 10px;
    margin: 0px;
}

.text2 {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    text-align: justify;
    margin: 0px;
}

.button_read {
    width: 120px;
    margin-left: 1rem;
    padding-top: 20px;
    display: flex;
}

.button_read a {  
    font-size: 16px;
    color:#1f1f1f;   
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    padding: 10px;
}
/* images section end */

/* footer section start */
.footer {
    color: antiquewhite;
    width: 100%;    
}

.footer > p {
    font-size: 20px;
    color: black;
    font-weight: bold; 
    padding-left: 40%;
}
/* footer section end */
